body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    padding:3rem;

}

.container{
    margin:0 auto;
    border:3px solid #333;
    padding:3rem;
}

h1,h3,h4,h5,h6{
    font-family:"Lato", sans-serif;
}

h1{
    color: #5353d5;
    font-size:  2.986rem;
    text-transform: capitalize;
}

#lead-paragraph{
    font-size: 2.2rem;
    font-family: "Instrument Serif", serif;
}

img{
    margin-bottom:3rem;
    /*width:100%;*/
    /*object-fit: contain;*/
    /*height:30rem;*/
}

h2{
    font-size:  2.488rem;
}

h3{
    font-size: 2.5rem;
    margin-bottom:.5rem;
}

ul {
    font-size: 1.7rem;
line-height: 1.5;

}

















































































































































































































